* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Dhurjati", sans-serif;
}
:root {
  --main: #303030;
  --medium: dimgrey;
  --low: #dadada;
}
html,
body {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100vh;
  background-color: var(--main);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 50rem;
  height: 70%;
  background-color: var(--medium);
  border-radius: 1.5vw;
  overflow: hidden;
}
.container .conttop {
  width: 100%;
  height: fit-content;

  background-color: var(--low);
  color: var(--medium);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
  text-transform: uppercase;
  font-size: 2vw;
}
.container .conttop button {
  padding: 1px 10px;
  font-weight: 500;
  border-radius: 5px;
  font-size: 19px;
  text-align: center;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
.container .conttop button:hover {
  background-color: var(--medium);
  color: var(--low);
}
.container .conttop button:active {
  scale: 0.9;
}
.container .conttop .box {
  color: var(--main);
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.2vw;
}
.container .contbody {
  padding: 2vh 1vw;
  position: relative;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  height: calc(100% - 70px);
  box-sizing: border-box;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 8vw;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  gap: 5px;
}
.container .contbody h1 {
  width: 62.5px;
  height: 62.5px;
  background-color: var(--main);
  border-radius: 50%;
  color: var(--low);
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  /* gap: 10px; */
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 300;
  transition: all ease-in 0.1s;
}
.container .contbody h1:hover {
  background-color: var(--low);
  color: var(--main);
  transition: all ease-out 0.2s;
}
.container .contbody p {
  font-size: 5vw;
  position: absolute;
  top: 10%;
}
.container .contbody button {
  position: absolute;
  top: 65%;
  border: none;
  border-radius: 1vw;
  font-size: 2.4vw;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}
.container .contbody button:hover {
  background-color: var(--main);
  color: var(--low);
  cursor: pointer;
}
@media (max-width: 1000px) {
  .container .contbody h1 {
    gap: 5px;
    width: 65px;
    height: 65px;
    font-size: 1.5rem;
  }
  .container .conttop {
    height: 55px;
    font-size: 3.5vw;
  }
  .container .conttop .box {
    /* height: 50px; */
    font-size: 3vw;
  }
}
@media (max-width: 550px) {
  .container .contbody {
    gap: 3px;
    padding: 0.8rem 0.2rem;
  }
  .container .contbody h1 {
    gap: 10px;
    width: 50px;
    height: 50px;
    font-size: 1.1rem;
  }
  .container .conttop {
    height: 35px;
    font-size: 4.5vw;
  }
  .container .conttop .box {
    /* height: 50px; */
    font-size: 3.5vw;
  }
  .container .contbody {
    height: calc(100% - 30px);
  }
  .container {
    width: 85vw;
    height: 32.8rem;
  }
}
